# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build artifacts
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
